<div>
  <div class="sm mt-4">
    <h2 class="mb-2">Add Employee</h2>
    <p class="text-muted">Create a new employee</p>
  </div>

  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="employeeForm">

      <div class="border p-2">

        <!-- Employee ID -->
        <div class="mb-3">
          <label class="form-label">Employee ID</label>
          <input type="text" formControlName="employeeId" class="form-control" readonly required />
          <div *ngIf="employeeForm.get('employeeId')?.invalid && employeeForm.get('employeeId')?.touched" class="text-danger">
            Employee ID is required
          </div>
        </div>

        <!-- Account -->
        <div class="mb-3">
          <label class="form-label">Account</label>
          <select formControlName="accountId" class="form-control" 
          [ngClass]="{ 'is-invalid': submitted && f.accountId.errors }">
          <option value="" disabled selected>Select Account</option>
          <option *ngFor="let acc of accounts" 
            [ngValue]="acc.id" 
            [disabled]="acc.isUsed">
              {{ acc.email }} ({{acc.lastName}}, {{acc.firstName}}) - [{{ acc.status }}]
          </option>
          </select>
          <div *ngIf="submitted && f.accountId.errors" class="invalid-feedback">
            <div class="f.accountId.errors.required">Account is required</div>
          </div>
        </div>

        <!-- Position -->
        <div class="mb-3">
          <label class="form-label">Position</label>
          <input type="text" formControlName="position" class="form-control" 
          [ngClass]="{ 'is-invalid': submitted && f.position.errors}"/>
          <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
            <div class="f.position.errors.required">Position is required</div>
          </div>
        </div>

        <!-- Department -->
        <div class="mb-3">
          <label class="form-label">Department</label>
          <select formControlName="departmentId" class="form-select" 
          [ngClass]="{ 'is-invalid': submitted && f.departmentId.errors}">
            <option value="" disabled selected>Select Department</option>
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </option>
          </select>
          <div *ngIf="submitted && f.departmentId.errors" class="invalid-feedback">
            <div class="f.departmentId.errors.required">Department is required</div>
          </div>
        </div>

        <!-- Hire Date -->
        <div class="mb-3">
          <label class="form-label">Hire Date</label>
          <input type="date" formControlName="hireDate" class="form-control" 
          [ngClass]="{ 'is-invalid': submitted && f.hireDate.errors}" />
          <div *ngIf="submitted && f.hireDate.errors" class="invalid-feedback">
            <div class="f.hireDate.errors.required">Hire date is required and cannot be beyond current year</div>
          </div>
        </div>

        <!-- Status -->
        <div class="mb-3">
          <label class="form-label">Status</label>
          <select formControlName="status" class="form-select" 
          [ngClass]="{ 'is-invalid': submitted && f.status.errors}">
            <option value="" disabled selected>Select Status</option>
            <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div class="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="submit" class="btn btn-primary me-2" [disabled]="submitting">Save</button>
        <a routerLink="/admin/employees" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
