<nav class="admin-nav navbar navbar-expand navbar-light-rgb px-3" style="background-color: #212529; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
    <div class="navbar-nav">
        <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
        <a routerLink="employees" routerLinkActive="active" class="nav-item nav-link">Employees</a>
        <a routerLink="departments" routerLinkActive="active" class="nav-item nav-link">Departments</a>
        <a routerLink="requests" routerLinkActive="active" class="nav-item nav-link">Requests</a>
    </div>
</nav>