<div class="container mt-4">
  <h2>Accounts</h2>
  <p class="text-muted">All accounts from the secure (admin only)</p>

    <div>
        <a routerLink="create" class="btn btn-success btn-sm mb-3">
            Add Account
        </a>
    </div>

        <!-- Accounts Table -->

    <div>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th style="width: 10%">Title</th>
                    <th style="width: 20%">First Name</th>
                    <th style="width: 20%">Last Name</th>
                    <th style="width: 20%">Email</th>
                    <th style="width: 10%">Role</th>
                    <th style="width: 10%">Status</th>
                    <th style="width: 10%">Actions</th>
                </tr>
            </thead>   
            <tbody>
            <tr *ngFor="let account of accounts">
                <td class="align-middle">{{ account.title }}</td>
                <td class="align-middle">{{ account.firstName }}</td>
                <td class="align-middle">{{ account.lastName }}</td>
                <td class="align-middle">{{ account.email }}</td>
                <td class="align-middle">{{ account.role }}</td>
                <td class="align-middle">
                    <span 
                        class="badge" 
                        [ngClass]="{
                            'bg-success': account.status === 'Active',
                            'bg-danger': account.status === 'Inactive'
                            }">
                            {{ account.status }}
                    </span>
                </td>
                <td class="align-middle white-space-nowrap" style="padding-inline: 18px;">
                    <button routerLink="edit/{{ account.id }}" class="btn btn-secondary btn-sm me-3">
                        Edit
                    </button>
                </td>
            </tr>
                

             <!-- Show spinner when accounts are not yet loaded -->
            <tr *ngIf="!accounts">
                <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg"></span>
                </td>
            </tr>

                <!-- Show message when there are no accounts -->
            <tr *ngIf="accounts && accounts.length === 0">
                <td colspan="4" class="text-center text-muted">
                No accounts found.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
</div>